body {
         padding: 0; margin: 0;
          background: #EBEBEB;
      	font: 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    }
    
    h1 { 
    	width: 1000px; 
    	margin: auto; 
    }
    
    h1 a, h1 {
      	color: #000; line-height: 1.2;
      	text-decoration: none;
      	font-family: Helvetica, sans-serif;
      	font-weight: bold;
      	font-size: 24px;
      	font-weight: normal;
    }
    
    h1 a:hover { 
      	color: inherit; 
      	border-bottom: solid 2px;
      }
      
    h2{ 
    	margin-top: 0; 
    	font-size: 21px; 
    	font-weight: bold;
    }
    
    h2 a {
        border-bottom: solid 2px;

    }
    
    h2 a:hover {
    	border-bottom: none;
    }
    
    
    h3 { 
   		font-size: 12px; 
  	  	text-transform: uppercase; 
  	  	letter-spacing: 1px; 
    }
    
    object { 
    	margin-bottom: 1em; 
    	margin-top: 0.5em; 
    	}
    	
    p, pre { 
    	margin-top: 0; 
    	padding-top: 0; 
    	}
    	
    img {
    	display: block; 
    	margin-bottom: 20px; 
    	margin-top: 5px; 
    	}
    	
    a { color: #0b0c0c; 
    	text-decoration: none; 
    	border-bottom: 1px solid;
    } 
    
    a:hover { 
    color: inherit; 
    border-bottom: none;
    }
    /* 858585 */
    a img { 
    outline: 0; 
    border: none; 

    }

    blockquote{
      font-style: italic !important;
      padding-left: 10px; 
    }
    
    .text.post blockquote, .post.quote blockquote {  
      padding-left:20px; 
      margin-left:0px;
      color: #222;
      top left no-repeat; 
      font-style: italic;
      margin-top: 0; 
    }

    

    .sidebar blockquote{
      margin:0;
      padding:0;
    }
    
    div.realpost { margin-bottom: 7em; }
    
      /* for nested blockquotes */
      blockquote blockquote { margin-left: 0; }
      
      blockquote ul, blockquote ol { padding-left: 2em; }
    ul, ol { padding-left: 0; }
    
    /* Specific elements. */
    #wrapper {
    	padding: 0 50px;
    }
    
    #header {
    	width: 1000px;
      	margin: 60px auto 30px;
      	overflow: auto;
    }
    
    #nav{
    	width: 1000px;
      	margin: 0 auto;
      	overflow: auto;
    }
    
    #headlink {
    	float: left;
    	margin-right: 35px;
    }
    
    #logo, #logo a{
		float: left;
		border-bottom: none !important;
	}
	
	#about {
		float: right;
		margin: 18px 5px;
		width: 60px;
		text-align: center;
		font: bold 13px/15px 'Helvetica Neue', Helvetica, Arial, sans-serif;;
		border-bottom: none !important;
	}
	
	#about:hover {color: gray;}
	
	#rss {
		float: right;
		display:block;
		margin:20px 40px 20px 3px;
		width: 26px;
		height: 26px;
		background: url("http://www.columbia.edu/cu/arch/studio-x/rss_26x26.png") no-repeat 0 0;
		text-indent: -9999px;
		border-bottom: none !important;
	}
	
	#rss:hover {
		background: url("http://www.columbia.edu/cu/arch/studio-x/rss_26x26.png") no-repeat 0 -26px;
	}
	
	
	#vimeo {
		float: right;
		display:block;
		margin:20px 3px;
		width: 26px;
		height: 26px;
		background: url("http://www.columbia.edu/cu/arch/studio-x/vimeo_26x26.png") no-repeat 0 0;
		text-indent: -9999px;
		border-bottom: none !important;
	}
	
	#vimeo:hover {
		background: url("http://www.columbia.edu/cu/arch/studio-x/vimeo_26x26.png") no-repeat 0 -26px;
	}
	
	#flickr {
		float: right;
		display:block;
		margin:20px 3px;
		width: 26px;
		height: 26px;
		background: url("http://www.columbia.edu/cu/arch/studio-x/flickr_26x26.png") no-repeat 0 0;
		text-indent: -9999px;
		border-bottom: none !important;
	}
	
	#flickr:hover {
		background: url("http://www.columbia.edu/cu/arch/studio-x/flickr_26x26.png") no-repeat 0 -26px;
	}
	
	#facebook {
		float: right;
		display:block;
		margin:20px 3px;
		width: 26px;
		height: 26px;
		background: url("http://www.columbia.edu/cu/arch/studio-x/facebook_26x26.png") no-repeat 0 0;
		text-indent: -9999px;
		border-bottom: none !important;
	}
	
	#facebook:hover {
		background: url("http://www.columbia.edu/cu/arch/studio-x/facebook_26x26.png") no-repeat 0 -26px;
	}
	
	#twitter {
		float: right;
		display:block;
		margin:20px 3px;
		width: 26px;
		height: 26px;
		background: url("http://www.columbia.edu/cu/arch/studio-x/twitter_26x26.png") no-repeat 0 0;
		text-indent: -9999px;
		border-bottom: none !important;
	}
	
	#twitter:hover {
		background: url("http://www.columbia.edu/cu/arch/studio-x/twitter_26x26.png") no-repeat 0 -26px;
	}
	
    
    #main {
      width: 1000px;
      margin: 0 auto;
    }
    
    
    #pager {width: 250px;}
    #past { float: left; } 
   	#future { float: right; margin-right: 4px; } 
    #page { float: left; width: 300px; text-align: center; color: #666; }
    
    ul#bottom {
      list-style: none; 
      padding-top: 0; 
      margin-top: 0; 
      padding-left: 0; 
      margin-left: 0;
      width: 340px; 
      float: left; 
      margin-bottom: 2em;
    }
    
    ul#bottom li {
      float: left; 
      margin-right: 40px; 
      padding-left: 0;
    }
    
    div#foot {
      width: 540px; 
      margin: 0 auto;
      margin-bottom: 40px;
    }
    
    /* Various repeated elements. */

	a.follow {
		float: right !important;
		border-bottom: none !important;

	}
	
    
    .north-america a:hover{color: #00D6FF !important}
    .latin-america a:hover{color: #00E652 !important}
    .south-asia a:hover{color: #FF9E00 !important}
    .middle-east a:hover{color: #FF00A6 !important}
    .africa a:hover{color: #008AFF !important}
    .europe a:hover{color: #AD20FF !important}
    .asia a:hover{color: #FF555A !important}
    
    .north-america-active a {color: #00D6FF !important; border-bottom: none !important;}
    .latin-america-active a {color: #00E652 !important; border-bottom: none !important;}
    .south-asia-active a {color: #FF9E00 !important; border-bottom: none !important;}
    .middle-east-active a {color: #FF00A6 !important; border-bottom: none !important;}
    .africa-active a {color: #008AFF !important; border-bottom: none !important;}
    .europe-active a {color: #AD20FF !important; border-bottom: none !important;}
    .asia-active a {color: #FF555A !important; border-bottom: none !important;}
    .global-active a {color: black !important; border-bottom: none !important;}
    
    /* Tag Colors */
    
    a.NYC {color: #00D6FF !important}
    a.nyc {color: #00D6FF !important}
    a.Rio {color: #00E652 !important}
    a.rio {color: #00E652 !important}
    a.SaoPaulo {color: #00E652 !important}
    a.Sao-Paulo {color: #00E652 !important}
    a.saopaulo {color: #00E652 !important}
    a.sao-paulo {color: #00E652 !important}
    a.amman {color: #FF00A6 !important}
    a.Amman {color: #FF00A6 !important}
    a.ammanlab {color: #FF00A6 !important}
    a.amman-lab {color: #FF00A6 !important}
    a.AmmanLab {color: #FF00A6 !important}
    a.Amman-Lab {color: #FF00A6 !important}
    a.mumbai {color: #FF9E00 !important}
    a.Mumbai {color: #FF9E00 !important}
	a.beijing {color: #FF555A !important}
	a.Beijing {color: #FF555A !important}
	a.tokyo {color: #FF555A !important}
    a.Tokyo {color: #FF555A !important}
    a.tokyolab {color: #FF555A !important}
    a.tokyo-lab {color: #FF555A !important}
    a.TokyoLab {color: #FF555A !important}
    a.Tokyo-Lab {color: #FF555A !important}
     
	.sidebar {
    	float: left;
    	width: 250px;
      font: bold 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-bottom: 7em;
    }

    

    .sidebar .tumblr_blog{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    	
    .tags {
    	font-weight: bold
    }
    

    .permalink {
      font-size: 12px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: normal !important;
      margin-top: 1em;
    }
    
    .permalink a {
      text-decoration: none;
      border-bottom: none;
    }
    
    .permalink a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
    
    .label { font-weight: bold; }
 
    .realpost {
      float: left;
      width: 675px;
      max-width: 100%;
      margin-bottom: 4em; 
      margin-right:25px;
      padding-top: 0; 
      margin-top: 0;
      font: bold 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    body#permalink-page div.realpost {
      margin-bottom: 2em;
    }
    
   
    div.audio embed { margin-top: .3em; margin-bottom: 1em; }
    img.album-art { float: right; padding-left: 2em; height: 100px; width: 100px; }
    
	

	
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}
	
	.embed-container iframe, .embed-container object, .embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
    
    div.chat ol {
      list-style: none; margin-top: 0;
    }
      
    /* In case you want to quote in quote post, we need to distinguish
       *the* quote from any other blockquotes in the post. */
    blockquote.thequote { 
      line-height: 1.25;
    }

    div.text img {
      max-width: 800px
    }
    div.text blockquote img {
      max-width: 150px
    }
    
    ol.notes {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        list-style-type: none;
        margin: 0 0 70px 130px;
    }
        ol.notes img {
            display: none;
        }
    div.post div.question {
      font-weight: bold;
      margin-bottom: 1em;
    }
    
    .search_query { font-weight: bold; }



    .post img{
      width:675px !important;
    }